$body-font-family: 'Roboto', sans-serif;
// $font-size-root: 14px;

$primary: #448AFF;

$grid-breakpoints:(
    'xs': 0,
    'sm': 600px,
    'md': 960px,
    'lg': 1280px - 16px,
    'xl': 1920px - 16px
);

$display-breakpoints: (
    'print-only': 'only print',
    'screen-only': 'only screen',
    'xs-only': 'only screen and (max-width: #{map-get($grid-breakpoints, 'sm') - 1})',
    'sm-only': 'only screen and (min-width: #{map-get($grid-breakpoints, 'sm')}) and (max-width: #{map-get($grid-breakpoints, 'md') - 1})',
    'sm-and-down': 'only screen and (max-width: #{map-get($grid-breakpoints, 'md') - 1})',
    'sm-and-up': 'only screen and (min-width: #{map-get($grid-breakpoints, 'sm')})',
    'md-only': 'only screen and (min-width: #{map-get($grid-breakpoints, 'md')}) and (max-width: #{map-get($grid-breakpoints, 'lg') - 1})',
    'md-and-down': 'only screen and (max-width: #{map-get($grid-breakpoints, 'lg') - 1})',
    'md-and-up': 'only screen and (min-width: #{map-get($grid-breakpoints, 'md')})',
    'lg-only': 'only screen and (min-width: #{map-get($grid-breakpoints, 'lg')}) and (max-width: #{map-get($grid-breakpoints, 'xl') - 1})',
    'lg-and-down': 'only screen and (max-width: #{map-get($grid-breakpoints, 'xl') - 1})',
    'lg-and-up': 'only screen and (min-width: #{map-get($grid-breakpoints, 'lg')})',
    'xl-only': 'only screen and (min-width: #{map-get($grid-breakpoints, 'xl')})'
);

$material-light: (
    'input-bottom-line': rgba(0,0,0,0.12),
);

$headings: (
    'h1': (
        'size': 6rem,
        'weight': 300,
        'line-height': 6rem,
        'letter-spacing': -.015625em,
        'font-family': inherit,
    ),
    'h2': (
        'size': 3.75rem,
        'weight': 300,
        'line-height': 3.75rem,
        'letter-spacing': -.0083333333em,
        'font-family': inherit,
    ),
    'h3': (
        'size': 2rem,
        'weight': 400,
        'line-height': 3.125rem,
        'letter-spacing': normal,
        'font-family': inherit,
    ),
    'h4': (
        'size': 1.5rem,
        'weight': 400,
        'line-height': 2.5rem,
        'letter-spacing': .0073529412em,
        'font-family': inherit,
    ),
    'h5': (
        'size': 1.25rem,
        'weight': 400,
        'line-height': 2rem,
        'letter-spacing': normal,
        'font-family': inherit,
    ),
    'h6': (
        'size': 1rem,
        'weight': 500,
        'line-height': 2rem,
        'letter-spacing': .0125em,
        'font-family': inherit,
    ),
    'subtitle-1': (
        'size': .875rem,
        'weight': 400,
        'line-height': 1.75rem,
        'letter-spacing': .009375em,
        'font-family': inherit,
    ),
    'subtitle-2': (
        'size': .8125rem,
        'weight': 500,
        'line-height': 1.375rem,
        'letter-spacing': .0071428571em,
        'font-family': inherit,
    ),
    'body-2': (
        'size': .8125rem,
        'weight': 400,
        'letter-spacing': .0178571429em,
        'line-height': 1.25rem,
        'font-family': inherit,
    ),
    'body-1': (
        'size': .875rem,
        'weight': 400,
        'letter-spacing': .03125em,
        'line-height': 1.5rem,
        'font-family': inherit,
    ),
    'caption': (
        'size': .75rem,
        'weight': 400,
        'letter-spacing': .0333333333em,
        'line-height': 1.25rem,
        'font-family': inherit,
    ),
    'overline': (
        'size': .625rem,
        'weight': 400,
        'letter-spacing': .1666666667em,
        'line-height': 1rem,
        'font-family': inherit,
    )
);

$icon-size: 20px;

$btn-font-sizes: (
    'x-small': .625rem,
    'small': .75rem,
    'default': .8125rem,
    'large': .875rem,
    'x-large': 1rem
);
$fab-icon-sizes: (
    'x-small': 16,
    'small': 18,
    'default': 20,
    'large': 28,
    'x-large': 32
);
$btn-letter-spacing: normal;

$card-title-font-size: 1rem;
$card-actions-padding: 8px 24px;

$dialog-card-title-font-size: 1rem;

$input-font-size: 14px;
$text-field-dense-icon-append-prepend-margin-top: 0;

$label-font-size: 14px;